{% extends 'base.html.twig' %}

{% block title %}Hello ProjectsController!
{% endblock %}

{% block body %}

	<div class="wrapper">
		<h1>{{ project.name }}</h1>

		<div class="alert-blank">
		{% for msg in app.flashes('success') %}
			<div class="alert alert-success">
				{{ msg }}
			</div>    
		{% endfor %}
		</div>
		

		<ul>
			<li>
				<a href="#">Archive only data</a>
			</li>
			<li>
				<a href="#">Archive code and data</a>
			</li>
		</ul>

		<a 
			class="btn btn-primary btn-bottomspace btn-width" 
			href="{{ path( 'app_project_path_new', { 'project': project.id } ) }}"
		>
			Set a path for project</a><br />
		<a 
			class="btn btn-primary btn-bottomspace btn-width"
			href="{{ path( 'app_add_database_credentials') }}" 
		>
			Add database credential</a><br />
		<a 
			href="{{ path( 'app_project_add_environment', { 'project': project.id } ) }}"
			class="btn btn-primary btn-bottomspace btn-width"
		>
			Add environment</a><br />
		<a
			class="btn btn-danger btn-width"
			href="{{ path( 'app_projects_delete_confirmation', { 'project': project.id }) }}"
		>
			Delete {{project.name}}
		</a>

		<hr />

		<h2>Environments:</h2>

		{% if project.environment|length > 0 %}
			<ul>
			{% for environment in project.environment %}
				<li>{{environment.name}}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>The project do not have any environment registered</p>
		{% endif %}


	</div>
{% endblock %}
