{% extends 'base.html.twig' %}

{% block title %}Deploy: {{ deploy.name }}{% endblock %}

{% block h1 %}Deploy: {{ deploy.name }}{% endblock %}

{% block body %}
    <h2>Environments:</h2>

    {% if deploy.environments|length > 0 %}
    <ul>
    {% for environment in deploy.environments %}
        <li><a href="{{ path( 'app_show_environment', { 'environment': environment.id } ) }}">{{ environment.name }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>Still no environment related to the deploy.</p>
    {% endif %}


    <h2>Receipts:</h2>

    {% if deploy.receipts|length > 0 %}
        <ul>
        {% for receipt in deploy.receipts %}
            <li><a href="{{ path('app_receipt_show', { 'receipt': receipt.id } ) }}">{{ receipt.receipt }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Still no receipts assigned to this deploy.</p>
    {% endif %}

    <h2>Project from deployment</h2>
    {% if deploy.project %}
        <p><a href="{{ path('app_projects_show', { 'project': deploy.project.id } ) }}">{{ deploy.project.name }}</a></p>
    {% else %}
        <p>No project associated to this deployment.</p>
    {% endif %}


    <h2>Filesystem path to deploy</h2>
    <p>{{ deploy.fileSystemProjectPath }}</p>

    {% if deploy.dockerVolumeMountPath %}
        <h2>Docker volume mount path</h2>
        <p>{{ deploy.dockerVolumeMountPath }}</p>
    {% endif %}

    <a href="{{ path('app_deploy_edit', {'deploy': deploy.id} )}}" class="btn btn-primary">Edit</a>
    <a href="{{ path('app_make_deploy', {'deploy': deploy.id} )}}" class="btn btn-primary">Deploy</a>
    <hr />
	<p class="danger">Danger zone!</p>
    <a href="{{ path('app_deploy_delete', { 'deploy': deploy.id })}}" class="btn btn-danger">Delete deployment</a>

{% endblock %}
