{% extends 'base.html.twig' %}

{% block title %}Deploy: {{ deploy.name }}{% endblock %}

{% block h1 %}Deploy: {{ deploy.name }}{% endblock %}

{% block body %}
    <h2>Environments:</h2>
    <ul>
    {% for environment in deploy.environments %}
        <li><a href="{{ path( 'app_show_environment', { 'environment': environment.id } ) }}">{{ environment.name }}</a></li>
    {% endfor %}
    </ul>
    <h2>Receipts:</h2>
    <ul>
    {% for receipt in deploy.receipts %}
        <li><a href="{{ path('app_receipt_show', { 'receipt': receipt.id } ) }}">{{ receipt.receipt }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
