<h2>Environments:</h2>

{% if project.environment|length > 0 %}
    <p>This project may exists in {{ project.environment|length }} environment(s)</p>
	<ul>
		{% for environment in project.environment %}
			<li>
				<a href="{{ path( 'app_show_environment', { environment: environment.id }) }}">{{ environment.name }}</a> <a href="{{path('app_project_unbind_environment', {'project': project.id, 'environment': environment.id })}}" class="btn btn-warning">Unbind</a>
			</li> 
		{% endfor %}
	</ul>
{% else %}
	<p>The project do not have any environment registered</p>
{% endif %}

<a class="btn btn-primary btn-width" href="{{ path( 'app_project_add_environment', { 'project': project.id } ) }}">
	Create an environment to project {{ project.name }}
</a>

<a class="btn btn-primary" href="{{ path('app_project_bind_environment', {'project': project.id }) }}">Bind an existing environment</a>