{% extends 'base.html.twig' %}

{% block title %}{{ environment.name }}
{% endblock %}

{% block h1 %}
	{{ environment.name }}
{% endblock %}

{% block body %}

	{% if currentSystem() == environment.unameNFingerprint %}
		<div class="alert alert-primary">
			This environment is the same from the current one!
		</div>
	{% endif %}

	{% if environment.unameNFingerprint %}
		<p>uname -n:
			{{ environment.unameNFingerprint }}</p>
	{% endif %}

	{% if environment.unameAFingerprint %}
		<p>uname -a:
			{{ environment.unameAFingerprint }}</p>
	{% endif %}

	{% if environment.projects|length > 0  %}

		<p>This environment hosts:</p>
		<ul>
			{% for project in environment.projects %}
				<li>
					<a href="{{ path( 'app_projects_show', { project: project.id }) }}">{{ project.name }}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Still no project added to current environment</p>
	{% endif %}

	<a href="{{path('app_environment_edit', {'environment': environment.id} )}}" class="btn btn-primary">Edit</a>

	<a href="{{ path('app_environment_bind_database_credential', { 'environment': environment.id } )}}" class="btn btn-primary">Bind a database credential</a>


	{% if currentSystem() != environment.unameNFingerprint %}
	<hr/>
	<a href="{{ path("app_environment_fingerprint", { environment: environment.id }) }}" class="btn btn-primary">Fingerprint this!</a>
	{% endif %}

	<hr />

	<p class="danger">Danger zone!</p>

	<a class="btn btn-danger" href="{{ path('app_environment_delete', { 'environment': environment.id }) }}">
		Delete Environment
	</a>

{% endblock %}
