{% extends 'base.html.twig' %}

{% block title %}Receipt: {{ receipt.receipt }}{% endblock %}

{% block h1 %}Receipt: {{ receipt.receipt }}{% endblock %}

{% block body %}

{% for project in receipt.projects %}
    <p>This receipt belongs to project: <a href="{{ path('app_projects_show', { project: project.id }) }}">{{ project.name }}</a>. <a href="{{ path('app_project_unbind_receipt', { 'project': project.id, 'receipt': receipt.id } ) }}" class="btn btn-warning">Unbind receipt from project</a></p>
{% endfor %}

{% if receipt.description %}
    <h2>Description</h2>
    <p>{{ receipt.description | raw }}</p>
    <hr />
{% endif %}

<h3>Receipt files</h3>

{% if receipt.receiptFiles|length > 0 %}
    <ul>
    {% for receiptFile in receipt.receiptFiles %}
        <li><a href="{{ path('app_receipt_file_show', { receiptFile: receiptFile.id }) }}">{{ receiptFile.path }}</a></li>
    {% endfor %}
    </ul>
{% else %}
<p>No receipt file added to the receipt</p>
{% endif %}

<a href="{{ path('app_receipt_file_new', { receipt: receipt.id }) }}" class="btn btn-primary">Add a receipt file</a>
<a href="{{ path('app_receipt_capture_file', {'receipt': receipt.id })}}" class="btn btn-primary">Capture File</a>
<a href="{{ path('app_receipt_edit', { receipt: receipt.id }) }}" class="btn btn-primary">Edit</a>
<a href="{{ path('app_receipt_download', { receipt: receipt.id } ) }}" class="btn btn-primary">Download</a>
<hr />
<p class="danger">Danger zone!</p>

<a href="{{ path('app_receipt_delete', { receipt: receipt.id }) }}" class="btn btn-danger">Remove this receipt!</a>

{% endblock %}
