<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

	<div class="container-fluid">

		<a class="navbar-brand" href="#"></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavLightDropdown" aria-controls="navbarNavLightDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavLightDropdown">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="nav-item">
					<a class="nav-link{{ app.request.attributes.get('_route') == 'app_projects' ? ' active' : '' }}" aria-current="page" href="{{ path('app_projects') }}">List</a>
				</li>

				<li class="nav-item">
					<a class="nav-link{{ app.request.attributes.get('_route') == 'app_projects_new' ? ' active' : '' }}" href="{{ path('app_projects_new') }}">Create</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Environment
					</a>
					<ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{ path('app_environments') }}">List</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_add_environment') }}">Create</a>
						</li>
					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Receipts
					</a>
					<ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{ path('app_receipt_index') }}">List</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_add_receipt') }}">Create</a>
						</li>
					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Database Credentials
					</a>
					<ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{ path('app_index_database_credentials') }}">List</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_add_database_credentials') }}">Create</a>
						</li>
					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Deploys Receipt
					</a>
					<ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{ path('app_add_deploy') }}">New</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_index_deploy') }}">List</a>
						</li>
					</ul>
				</li>

			</ul>

			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">

				<li class="nav-item">
					{{ currentSystem() }}
				</li>

			</ul>

		</div>

	</div>

</nav>
